*{
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: 'Circe';
  src: url('./assets/fonts/circe.ttf');
}

@font-face{
  font-family: 'Circe Bold';
  src: url('./assets/fonts/circe_bold.ttf');
}

body{
  font-family: 'Circe', sans-serif;
  color: black;
}

.container{
  max-width: 1297px;
  margin: 0 auto;
}


