.swiper-container {
    padding-top: 80px;
}
.i-title {
    padding-top: 36px;
    font-family: 'Circe Bold', sans-serif;
    font-size: 21px;
}
.i-text {
    padding-top: 24px;
    font-family: 'Circe', sans-serif;
    font-size: 15px;
}
.i-author {
    padding-top: 24px;
    padding-bottom: 12px;
    font-family: 'Circe Bold', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}
.i-position {
    font-family: 'Circe', sans-serif;
    font-size: 15px;
    color: gray;
}
.slide {
    background-color: white;
    padding-left: 24px;
}
.slider-item {
    background-color: white;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
    padding: 40px;
    width: 336px;
    height: 456px;
}
.custom-pagination {
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 40px;
    gap: 40px;
    text-align: center;
}
.custom-button-prev,
.custom-button-next {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.custom-fraction {
    font-size: 16px;
    font-family: 'Circe Bold', sans-serif;
}
